p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: pre-wrap;
}

.callout-box {
  border: 3px solid #CA0020;
  padding: 15px;
  margin: 15px 0;
  background-color: #fff5f5;
}
